{{#each this}}
<section class="d-flex flex-row justify-content-between mb-4">
  <div class="col-md-10">
    <div class="card">
      <div class="header d-flex flex-row justify-content-between">
        <h3 class="card-header"></h3>
      </div>
      <article class="card-body">
        <p>{{comment_text}}</p>
        <p>- {{user.username}}, {{format_date created_at}}</p>
      </article>
    </div>
  </div>
</section>
 {{/each}}