<section class="d-flex flex-row justify-content-between">
    <div class="col-md-10">
      <div class="card">
        <h3 class="card-header">Post Title</h3>
        <article class="card-body">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos est numquam 
          aliquid dolorem, explicabo suscipit nisi expedita libero quas quos recusandae nulla 
          iusto? Iste quisquam nam expedita ad quis consectetur.
        </article>
      </div>
    </div>
  </section>