<section class="d-flex flex-row justify-content-between mb-4">
  <div class="col-md-10">
    <div class="card">
      <div class="header d-flex flex-row justify-content-between">
        <h3 class="card-header">{{title}}</h3>
        <span class="card-header">Posted by
          {{user.username}}
          on
          {{format_date created_at}}</span>
      </div>
    </div>
  </div>
</section>