{{#if posts.length}}
<section>
    {{#each posts as |post|}}
    <a href="/dashboard/edit/{{post.id}}" class="button">
      {{> post-title post}}
    </a>
    {{/each}}
    
</section>
{{/if}}

<div class="col-md-10">
  <a href="/add-post" id="new-post" class="btn mx-auto">+ New Post</a>
</div>
