<section class="d-flex flex-row justify-content-between">
  <div class="col-md-10">
    <div class="card">
      <h3 class="card-header">Edit Post</h3>
      <form id="edit-post-form" class="card-body">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="title"
          id="title"
          autofocus="true"
          class="form-input"
          value="{{post.title}}"
        />
        <label for="content" class="form-label">Content</label>
        <input
          type="textarea"
          name="content"
          id="content"
          autofocus="true"
          class="form-input"
          value="{{post.content}}"
        />
        <button id="create-btn" type="submit" class="btn">Update Post</button>
        <button id="create-btn" type="submit" class="btn">Delete</button>
      </form>
    </div>
  </div>
</section>

<script src="/javascript/edit-post.js"></script>