<section class="d-flex flex-row justify-content-between">
  <div class="col-12 col-md-4">
    <div class="card">
      <h3 class="card-header text-uppercase">Login</h3>
      <form id="login-form" class="card-body">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          autofocus="true"
          class="form-input"
        />
        <label for="password" class="form-label">Password</label>
        <input
          type="text"
          name="password"
          id="password"
          autofocus="true"
          class="form-input"
        />
        <button type="submit" class="btn">Login!</button>
      </form>
    </div>
  </div>
</section>

<script src="/javascript/login.js"></script>