<section class="d-flex flex-row justify-content-between">
  <div class="col-12 col-md-4">
    <div class="card">
      <h3 class="card-header text-uppercase">Login</h3>
      <form id="login-form" class="card-body">
        <label for="username" class="form-label">Username</label>
        <input
          required
          type="text"
          name="username"
          id="username"
          autofocus="true"
          class="form-input"
        />
        <label for="password" class="form-label pt-2">Password</label>
        <input
          required
          type="password"
          name="password"
          id="password"
          autofocus="true"
          class="form-input"
        />
        <button id="login-btn" type="submit" class="btn">Login!</button>
        <a class="login-signup" href="/signup">Sign up instead</a>
      </form>
    </div>
  </div>
</section>

<script src="/javascript/login.js"></script>